@model BlogApp.Models.Post
<h2>@Model.Title</h2>
<p>@Model.Content</p>
<p>Posted on @Model.CreatedAt</p>


<hr />
<!-- Display comments -->
@await Html.PartialAsync("_CommentsPartial", Model.Comments)

<hr />
<!-- Comment form -->
@await Html.PartialAsync("_CommentFormPartial", new Comment { PostId = Model.PostId})





