
@model IEnumerable<BlogApp.Models.Post>

<h2>Blog Posts</h2>

<a asp-action="Create" class="btn btn-success mb-3">Create New Post</a>

@if (!Model.Any())
{
    <p>No posts available.</p>
}
else
{
    <div class="row">
        @foreach (var post in Model)
        {
            <div class="col-md-6">
                <div class="post-container">
                    <h3 class="post-title">@post.Title</h3>
                    <p class="post-content">@post.Content</p>
                    <a class="read-more" href="@Url.Action("Details", "Posts", new { id = post.PostId })">Read More</a>

                    <!-- Delete Post Form -->
                    <form asp-action="Delete" asp-route-id="@post.PostId" method="post" onsubmit="return confirm('Are you sure you want to delete this post?');">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </div>
            </div>
        }
    </div>
}


